<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddNgo</servlet-name>
        <servlet-class>controllers.AddNgo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChildren</servlet-name>
        <servlet-class>controllers.AddChildren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutNgo</servlet-name>
        <servlet-class>controllers.LogoutNgo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>controllers.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNgos</servlet-name>
        <servlet-class>controllers.DeleteNgos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletechildren</servlet-name>
        <servlet-class>controllers.Deletechildren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginNgos</servlet-name>
        <servlet-class>controllers.LoginNgos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNgoProfile</servlet-name>
        <servlet-class>controllers.UpdateNgoProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNgo</servlet-name>
        <url-pattern>/AddNgo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChildren</servlet-name>
        <url-pattern>/AddChildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutNgo</servlet-name>
        <url-pattern>/LogoutNgo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNgos</servlet-name>
        <url-pattern>/DeleteNgos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletechildren</servlet-name>
        <url-pattern>/Deletechildren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginNgos</servlet-name>
        <url-pattern>/LoginNgos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNgoProfile</servlet-name>
        <url-pattern>/UpdateNgoProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
